@import './variables.scss';

html {
    font-family: 'Segoe UI', 'Times New Roman', Times, serif, Geneva, Verdana, sans-serif;
}

.content {
    margin-left: $leftShift;
    margin-top: $verticalMargin;
    margin-right: $rightShift;
}