@import './variables.scss';
@import './colors.scss';

html {
    font-family: 'Segoe UI', 'Times New Roman', Times, serif, Geneva, Verdana, sans-serif;
    background-color: $background;
}

.main-content {
    margin-top: $verticalMargin - 100;
    margin-right: $rightShift;
    width: 60%;
    margin-left: $drawerWidth;
}

@media only screen and (max-width: 1200px) {

    .main-content {
        margin-right: 0;
        margin-top: 20px;
        width: 100%;
        margin-left: 0;
    }

}