@import './variables.scss';
@import './colors.scss';

html {
    font-family: 'Segoe UI', 'Times New Roman', Times, serif, Geneva, Verdana, sans-serif;
    background-color: $background;
}

.content {
    margin-top: $verticalMargin - 40;
}