@import '../../../styles/variables.scss';

.project-info-content {
    margin-top: $navbarHeight;
    margin-right: $rightShift + 200px;
    padding-left: 250px;
    margin-bottom: 50px;

    .section {
        .header {
            font-size: 36px;
            font-weight: 300;
        }

        .section-content {
            font-size: 20px;
            font-weight: 200;
            line-height: 30px;
        }
    }
}