@import '../../styles/variables.scss';

.content-container {
    display: flex;

    .sidebar {
        float: left;
    }

    .content {
        width: 100%;
        float: right;
        margin-left: 200px;
    }

    .avatar {
        width: 128px;
        height: 128px;
    }
}