@import '../../styles/variables.scss';

.navbar-content {
    margin-left: $leftShift;
    margin-top: 25px;
    display: flex;
    margin-right: $rightShift;
    font-size: 24px;
    font-weight: 400;

    #nav-item {
        color: black;
        text-decoration: none;
        margin: 0px 50px 0px 50px;
    }
}